{% extends "duct_tape/layouts/full.html" %}
{% load url from future %}
{% load comments %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {% include "duct_tape/forms/form.html" %}
    <div class="span-12 last container">
        <div class='ui-button-set'>
            <input type="submit" value="save" />
            <input type="button" value="cancel" onClick="history.go(-1);return true;" />
        </div>
    </div>
</form>
{% if obj.pk %}
    {% render_comment_list for obj %}
{% endif %}
{% endblock %}
