{% extends "duct_tape/layouts/half.html" %}
{% load note_tags %}
{% load url from future %}
{% block title %}
ID {{ obj }}
{% endblock %}

{% block content_left %}
    {% include "duct_tape/forms/form_half.html" %}
    <div class="span-12 last container">
        <div class='ui-button-set'>
            <a class='ui-button' href="{% url url_list_path %}">Return to List</a>
            <a class='ui-button' href="{% url url_update_path obj.id %}">Edit</a>
        </div>
    </div>

    {% render_note_list for obj %}
    {% render_note_form for obj %}
{% endblock %}
