{% extends "duct_tape/layouts/full.html" %}
{% load url from future %}
{% load js_behavior %}

{% block content %}
{% spaceless %}
{% if url_api_autocomplete_path %}
    <div class="span-24 last"><hr></div>
    <div class="span-24 last container">
        <label class='span-2'>Search</label>
        <div class='span-22 last'>
            <input id='search'class='span-10'> 
        </div>
    </div>
    {% behavior_queue search_js %}
$( "#search" ).autocomplete({
    source: jsurls.get_named_path('{{ url_api_autocomplete_path }}'),
    minLength:3,
    select: function(event,ui){
        if(ui.item){
            var url = jsurls.get_named_path('{{ url_api_autocomplete_path }}',ui.item.value);
            document.location.href = url;

            return false
        }
    }
});
    {% endbehavior_queue %}
    <div class="span-24 last"><hr></div>
{% endif %}
{% if is_paginated %}
    <div class='span-12'>
        {% include "duct_tape/widgets/paging.html" %}
    </div>
    <div class='span-11 end'>
        <a class="ui-button" href="{% url url_create_path %}">New</a>
    </div>
    <div class="span-24 last"><hr></div>

    {% for obj in page_obj.object_list %}
        <div class="span-10">
            <a href="{% url url_detail_path obj.id %}?page={{ page_obj.number }}">{{ obj.name }}</a>
        </div>
        <div class="span-12 last">
            <a href="{% url url_update_path obj.id %}?page={{ page_obj.number }}">edit</a>&nbsp;|&nbsp;<a 
            href="{% url url_delete_path obj.id %}?page={{ page_obj.number }}">delete</a>
        </div>
    {% endfor %}

    <div class="span-24 last"><hr></div>
    <div class='span-6 last'>
    {% include "duct_tape/widgets/paging.html" %}
    </div>

{% else %}
    <div class='prepend-12 span-11 end'>
        <a class="ui-button" href="{% url url_create_path %}">New</a>
    </div>
    <div class="span-24 last"><hr></div>
    {% for obj in object_list %}
        <div class="span-10">
            <a href="{% url url_detail_path obj.id %}">{{ obj.accomplishment.title }}</a>
        </div>
        <div class="span-12 last">
            <a href="{% url url_update_path obj.id %}">edit</a>&nbsp;|&nbsp;<a 
            href="{% url url_delete_path obj.id %}">delete</a>
        </div>

    {% endfor %}
    <div class="span-24 last"><hr></div>

{% endif %}
{% endspaceless %}{% endblock %}
